body{
    background-image: url(./Assets/ice-the-inscription-sign-wallpaper-preview.jpg);
}
header{
    
    background-image: url(./Assets/para\ titulo2.jpg);
    margin:100px 50px 0px 50px ;
}
h1{
    color: #000;;
    font-size: 40px;
    margin: 100px 300px 0px 5px;
    
}
nav{
    background-color: springgreen;
    margin:0px 50px 0px 50px ;
    display: flex;
    justify-content: flex-end;   
}
a{
    color: #FF0000;
}
.nav-enlace{
    display: inline-block;
    background-color: #FFCA03;
    color: rgb(9, 155, 52);
    padding:10px 30px;
    text-decoration: none;
    border-radius: 50px;
}
.nav-enlace:hover{
    background: #F90716;
}
.nav-enlace:active{
    background-color: #28FFBF;
}
section{
    background-color: aquamarine;
    margin:0px 50px 10px 50px;
}
h2{
    margin:0px 1px 10px 0px ;
    text-align: center;
}
article{
    margin: 0px 1px 0px 0px;
    background-color: #20a859;  
}
aside{
    background-color: tomato;
    margin:0px 1px 1px 0px ;
    width: 75%;
    text-align: center;
}
.padre{
    display: flex;
}
aside{
    background-color: aquamarine;
    margin:0px 1px 1px 0px ;
    text-align:center;
}
table{
    background-color: #08bb62;
    color: rgb(7, 1, 1);
    border-radius: 20px;
    margin: 0px 1px 0px 50px;
    align-content: center;
    justify-content: center;


}
table, th, td{
    border:2px solid rgb(2, 56, 17);
    width: 750px;
    height: 50px;
    
}
.reseña{
    margin: 0px 1px 0px 0px;
}
button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
button:hover, button:focus {
    background: blue;
    outline: 0;
}

button .nav-enlace:active{
    background-color: #0000FF;
}
.titform{
    animation: 3s infinite alternate slidein;
    display: flex;
	align-items: center;
	justify-content: center;
	min-height: 10vh;
	background-color: #FFCA03;
    border-radius: 20px;
    margin:10px 1px 0px 1px;
}
.title-titform {
	position: relative;
	display: block;
	margin: 0 10;
	font-size: 3rem;
	line-height: 1;
	transform: translateY(6rem);
	animation: up 500ms linear forwards;
	z-index: 1;
	text-shadow: 0px 1px 1px rgb(27, 30, 180);
	
	&::before,
	&::after {
		position: absolute;
		content: '';
		width: 0px;
		height: 1px;
		left: 0;
		background-color: rgba(0,0,0,0.2);
		z-index: -1;
	}
	
	&::before {
		top: 1.4rem;
		animation: draw 500ms linear 1s forwards;
	}
	
	&::after {
		bottom: 0.4rem;
		animation: draw 500ms linear 1s forwards;
	}
	
}

.title-titform {
	font-size: 0;
	position: relative;
	overflow: hidden;
	padding-bottom: 0.4rem;
}

@keyframes up {
	
	100% {
		transform: translateY(0);
	}
	
}

@keyframes draw {
	
	100% {
		width: 100%;
	}
	
}
