
#principal {
    width: 450px;
    height: 60px;
    margin: auto;
    text-align: center;
}
.cabeceraizq{
    width: 200px;
    height: 100px;
    margin-left: 1px;
}
#menu{
    height: 80px;
    margin: auto;
    width: 900px;
    text-align: center;
}
#columnaderecha{
    width: 1000px;
    height: 350px;
    text-align:left;

}
#columnaizq{
    width: 100px;
    height: 1300px;
    margin: 10px;
    float: left;
    border: solid#0000;
}